* {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(45deg, rgb(17, 17, 240), rgb(236, 49, 49));
  height: 100vh;
}
p, h1, .text {
  color: rgb(243, 245, 249);
}

form .btn {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.heading {
  margin: 10px;
  text-decoration: underline;
  font-weight: bold;
}

#control-form {
  width: 70%;
  margin: auto;
}